@import '_colors';
@import '_fonts';

.dropdown-nav {
  background-color: grey;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: row;
  height: 5em;
  list-style: none;
}

.dropdown-button {
  display: none;
}

.dropdown-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 80%;
    li {
      height: 100%;
    }
    a {
      color: $color-blanched;
      font-family: $sans;
      text-decoration: none;
    }
}

.header-logo {
  border-radius: 100%;
  display: block;
  position: absolute;
  right: 25px;
}

li:hover {
  background: $color-red;
  height: 100%;
}

@media (max-width: 600px){
  .dropdown-menu {
    width: 60%;
  }
}

@media (max-width: 450px) {
  .dropdown-button {
    background-color: grey;
    border: none;
    color: $color-blanched;
    display: inline-block;
    font-family: $sans;
    font-size: 1.2em;
    left: 25px;
    position: relative;
  }

  .dropdown-nav {
    position: relative;
  }

   .dropdown-menu {
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    padding: 0;
    top: 100%;
    width: 100%;
      li {
        margin: 5px;
      }
  }

  .dropdown-nav:hover .dropdown-menu {
    background-color: grey;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display:inline-block;
  }

  .dropdown-nav:active .dropdown-menu  {
    background-color: grey;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display:inline-block;
  }
}
